.logo {
  padding-right: 400px;
}

.header-nav {
  display: flex;
  min-width: 1170px;
  margin: 80px;
}
.header-nav-list {
  display: flex;
  list-style: none;
  gap: 60px;
  align-items: center;
  font-size: 30px;
  line-height: 19px;
}

.header-nav-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  color: black;
  font-size: 30px;
  padding-left: 344px;
}
.header-nav-list:hover {
  color: #2196f3;
}
.header-nav-contacts:hover {
  color: #2196f3;
}
.header-main {
  background-color: rgb(54, 56, 56);
  padding: 0 auto;
  height: 600px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  font-size: 200%;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.button {
  display: flexbox;
  background-color: #2196f3;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
