
  .header-nav {
    display: flex;
    min-width: 1170px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
    padding: 80px;
  }
  
  .header-nav-list {
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
  }

  .header-nav-contacts {
    display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  }
  .header-nav-list:hover::before {
    content: url("/img/finger\ 1.png");
    padding: 70px 0px 0px 0px;
    margin-left: 90px;
  }
  .header-nav-contacts:hover::before {
    content: url(/img/Group.png);
    padding: 80px 0px 0px 0px;
    margin-left: 90px;
  }
  .header-main {
    height: 600px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
    gap: 10px;
    color: rgb(255, 255, 255);
   font-size: 200%;
   flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .button:hover {
    background-color: #2196F3;
  display: block;
  border-radius: 5px;
  width: 150px;
  height: 70px;
  }
