.adventeges-container {
  display: flex;
  gap: 130px;
  justify-content: center;
  padding: 40px;
}
.adventeges-text {
  width: 255px;
  height: 292px;
  font-size: 24px;
  color: rgb(66, 64, 64);
}
.adventeges-text:hover {
  color: rgb(0, 0, 0);
}
.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 36px;
}
.foto-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 50px 100px;
}
.card:hover {
  box-shadow: 10px 8px 7px blue;
}
.team {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-bottom: 120px;
}
.team-foto {
  width: 270px;
  height: 260px;
}
.info {
  font-size: 30px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 36px;
  padding-bottom: 25px;
}
